.start-date{width: 15%; display: inline-block; margin-bottom: 1%;border: groove;}
.end-date{width: 15%; display: inline-block; margin-right: 1%; margin-bottom: 1%;border: groove;}
.search{width: 15%; display: inline-block; margin-right: 1%; margin-bottom: 1%;border: groove;}
.select{padding-top: 3px;padding-bottom: 3px;}
.nav-header{margin-left: 5px; width: 15%;padding-top: 1%;}
.from-button{flex: 0 0 auto;width: 28%;}
.img {max-width: 150px; max-height: 150px;margin: 5px;}
.choose-file {background-color: #7460ee; color: white; padding: 0.5rem; font-family: sans-serif; border-radius: 0.3rem; cursor: pointer; margin-top: 8px;}
#file-chosen{margin-left: 0.3rem;font-family: sans-serif;}
.preview-card{position: relative;width: 150px;float:left;margin: 10px;}
.preview-img{display: block;width: 100%;height: auto;}
.valet-btn{display: inline-block;width: 50%;}
.valet-label{width: 16%;}
.wallet-model{max-width: 60%;}

@media screen and (max-width: 991px) {
    .start-date{width: 47%; display: inline-block; margin-bottom: 1%;}
    .end-date{width: 47%; display: inline-block; margin-right: 1%; margin-bottom: 1%;}
    .search{width: 61%; display: inline-block; margin-right: 25%; margin-bottom: 1%;border: groove;}
    .nav-header{margin-left: 5px;width: 78%;padding-top: 5%;}
    .wallet-model{max-width: 100%;}
}
[v-cloak]{display: none;}